In [1]:
import pandas as pd

In [2]:
/pwd

'/Users/monica_mac/Documents/DS_school/데이터분석반(재수강)/2주차'

### 1. 데이터 로딩하기

In [8]:
raw_data = pd.read_csv("noom_user.csv",  parse_dates=['Purchased At'])


print(raw_data.columns)
raw_data.head()

Index(['Access Code', 'Name', 'Gender', 'Age', 'Height', 'Initial Weight',
       'Lowest Weight', 'Target Weight', 'Product Name', 'Status', 'Price',
       'Purchased At', 'Payment Type', 'Channel'],
      dtype='object')

,Access Code,Name,Gender,Age,Height,Initial Weight,Lowest Weight,Target Weight,Product Name,Status,Price,Purchased At,Payment Type,Channel
0,Y9RY2VSI,김승혜,FEMALE,25.0,172.0,66.9,65.8,55.000000,눔 체중감량 프로그램,completed,112500,2017-04-14 19:03:29.976,Recurring,others
1,3GTN3S3B,허승준,MALE,26.0,176.0,70.0,NaN,65.000000,눔 체중감량 프로그램,completed,44780,2017-05-23 20:53:54.368,Recurring,others
2,6B0IG276,이지민,FEMALE,23.0,171.0,98.0,NaN,91.140000,눔 체중감량 프로그램 (천원 체험),completed,132000,2017-08-23 23:39:21.840,Recurring,facebook
3,EMGRU2MO,장설윤,FEMALE,20.0,160.0,70.7,NaN,53.000000,눔 체중감량 프로그램 (천원 체험),completed,112500,2017-08-28 20:18:22.824,Recurring,naver
4,1ELG96TX,서성빈,FEMALE,28.0,165.0,55.5,NaN,51.615002,눔 체중감량 프로그램,completed,44780,2017-05-07 17:50:30.944,Recurring,facebook

### 2. 데이터정리하기

In [14]:
columns = ['Access Code', 'Name', 'Gender', 'Age', 'Height', 'Initial Weight',
       'Lowest Weight', 'Target Weight', 'Status', 'Price',
       'Purchased At', 'Channel']

data=raw_data[columns].copy()

data = data.set_index('Access Code')

data.head()

,Name,Gender,Age,Height,Initial Weight,Lowest Weight,Target Weight,Status,Price,Purchased At,Channel
Access Code,,,,,,,,,,,
Y9RY2VSI,김승혜,FEMALE,25.0,172.0,66.9,65.8,55.000000,completed,112500,2017-04-14 19:03:29.976,others
3GTN3S3B,허승준,MALE,26.0,176.0,70.0,NaN,65.000000,completed,44780,2017-05-23 20:53:54.368,others
6B0IG276,이지민,FEMALE,23.0,171.0,98.0,NaN,91.140000,completed,132000,2017-08-23 23:39:21.840,facebook
EMGRU2MO,장설윤,FEMALE,20.0,160.0,70.7,NaN,53.000000,completed,112500,2017-08-28 20:18:22.824,naver
1ELG96TX,서성빈,FEMALE,28.0,165.0,55.5,NaN,51.615002,completed,44780,2017-05-07 17:50:30.944,facebook

In [17]:
raw_data['Gender'].unique()

array(['FEMALE', 'MALE', nan], dtype=object)

In [22]:
data['Gender(clean)'] = data["Gender"].replace("MALE", 'male').replace("FEMALE", 'female')

data[["Name",'Gender' ,"Gender(clean)"]].head()

            Name  Gender Gender(clean)
Access Code
Y9RY2VSI     김승혜  FEMALE        female
3GTN3S3B     허승준    MALE          male
6B0IG276     이지민  FEMALE        female
EMGRU2MO     장설윤  FEMALE        female
1ELG96TX     서성빈  FEMALE        female

### 3. 키 컬럼 정리

In [23]:
raw_data["Height"].describe()

count    9869.000000
mean      163.191495
std        10.199053
min        -1.000000
25%       159.000000
50%       163.000000
75%       167.000000
max       203.200000
Name: Height, dtype: float64

In [24]:
import numpy as np

In [29]:
data["Height(clean)"] = data["Height"]

data.loc[data['Height'] < 0 , "Height(clean)"] = np.nan

data.loc[data["Height"]< 0 , ['Name', "Height", 'Height(clean)']].head()

            Name  Height  Height(clean)
Access Code
O4OWMJG7     오세윤    -1.0            NaN
H6EV5AXL     박슬지    -1.0            NaN
O1IAZS7A     고솔윤    -1.0            NaN
5NEQOWHW     손초영    -1.0            NaN
OFAXUNXD     백채우    -1.0            NaN

In [30]:
data["Height(clean)"].describe()

count    9848.000000
mean      163.541619
std         6.828374
min       106.000000
25%       159.000000
50%       163.000000
75%       167.000000
max       203.200000
Name: Height(clean), dtype: float64

In [31]:
pd.pivot_table(data, index="Gender(clean)", values="Height(clean)")

               Height(clean)
Gender(clean)
female            162.116913
male              175.831965

### 4. 나이 컬럼을 정리해주세요

In [32]:
raw_data["Age"].head()

0    25.0
1    26.0
2    23.0
3    20.0
4    28.0
Name: Age, dtype: float64

In [35]:
data["Age"].describe()

count    9869.000000
mean       27.463573
std         7.376082
min         0.000000
25%        23.000000
50%        26.000000
75%        31.000000
max       173.000000
Name: Age, dtype: float64

In [40]:
data["Age(clean)"] = data["Age"]

data.loc[data['Age']==0, 'Age(clean)'] = np.nan

data.loc[data['Age'] >= 60, "Age(clean)"] = np.nan

data.loc[(data['Age'] == 0) | (data['Age'] >= 60), ["Name", "Age", "Age(clean)"]].head()

            Name   Age  Age(clean)
Access Code
9PTGVW4B     강서연   0.0         NaN
ACV6D35S     윤우성   0.0         NaN
Y0OK1FWA     김서영  85.0         NaN
WX34HGBL     강채민   0.0         NaN
R9XCS81F     최유신   0.0         NaN

### VIP 구하기

### 5. 전체컬럼에서 필요한 컬럼만 가져오기

In [44]:
print(data.columns)

Index(['Name', 'Gender', 'Age', 'Height', 'Initial Weight', 'Lowest Weight',
       'Target Weight', 'Status', 'Price', 'Purchased At', 'Channel',
       'Gender(clean)', 'Height(clean)', 'Age(clean)'],
      dtype='object')

In [49]:
col2 = ['Name', 'Age(clean)','Height(clean)', 'Initial Weight', 'Lowest Weight',
       'Target Weight', 'Status']

weight_history=data[col2].copy()

In [51]:
print(weight_history.shape)
weight_history.head()

(10000, 7)

,Name,Age(clean),Height(clean),Initial Weight,Lowest Weight,Target Weight,Status
Access Code,,,,,,,
Y9RY2VSI,김승혜,25.0,172.0,66.9,65.8,55.000000,completed
3GTN3S3B,허승준,26.0,176.0,70.0,NaN,65.000000,completed
6B0IG276,이지민,23.0,171.0,98.0,NaN,91.140000,completed
EMGRU2MO,장설윤,20.0,160.0,70.7,NaN,53.000000,completed
1ELG96TX,서성빈,28.0,165.0,55.5,NaN,51.615002,completed

### 6. 주어진 컬럼으로 다음의 추가정보를 계산해주세요

In [55]:
weight_history['Weight Loss(goal)'] = weight_history['Initial Weight'] - weight_history['Target Weight']
weight_history['Weight Loss(current)'] = weight_history['Initial Weight'] - weight_history['Lowest Weight']

weight_history.head()

,Name,Age(clean),Height(clean),Initial Weight,Lowest Weight,Target Weight,Status,Weight Loss(goal),Weight Loss(current)
Access Code,,,,,,,,,
Y9RY2VSI,김승혜,25.0,172.0,66.9,65.8,55.000000,completed,11.900000,1.1
3GTN3S3B,허승준,26.0,176.0,70.0,NaN,65.000000,completed,5.000000,NaN
6B0IG276,이지민,23.0,171.0,98.0,NaN,91.140000,completed,6.860000,NaN
EMGRU2MO,장설윤,20.0,160.0,70.7,NaN,53.000000,completed,17.700000,NaN
1ELG96TX,서성빈,28.0,165.0,55.5,NaN,51.615002,completed,3.884998,NaN

In [62]:
# BMI 키 필요
weight_history['Height(m)(clean)'] = weight_history['Height(clean)']/100

weight_history["BMI"] = weight_history['Initial Weight'] / weight_history['Height(m)(clean)'] ** 2

weight_history[["Name", "Weight Loss(goal)", "Weight Loss(current)", "BMI"]].head()

            Name  Weight Loss(goal)  Weight Loss(current)        BMI
Access Code
Y9RY2VSI     김승혜          11.900000                   1.1  22.613575
3GTN3S3B     허승준           5.000000                   NaN  22.598140
6B0IG276     이지민           6.860000                   NaN  33.514586
EMGRU2MO     장설윤          17.700000                   NaN  27.617187
1ELG96TX     서성빈           3.884998                   NaN  20.385675

### 7. 잘못된 정보를 기입한 사용자(invalid user) 찾기

In [85]:
def find_invalid_user(row):
    if row["Status"] != 'completed' :
        return False
    if pd.isnull(row ["Age(clean)"]) or pd.isnull(row["Height(clean)"]) :
        return False
    if pd.isnull(row ["Initial Weight"]) or pd.isnull(row["Lowest Weight"]) or pd.isnull(row['Target Weight']):
        return False
    if row["Height(clean)"] < 140 or row["Height(clean)"] >200 :
        return False
    if row['BMI'] < 18.5 or row['BMI'] > 30:
        return True
    if row['Weight Loss(goal)'] < 0:
        return True
    
    return False

In [86]:
# 눔의 프로그램을 결제한 구매자. (Status == "completed")
# 나이(Age(clean)), 키(Height(clean))와 
# 몸무게(Initial Weight, Lowest Weight, Target Weight) 중 어느 하나라도 NaN이 들어가 있는 경우.
# 키를 너무 작게 기입했거나(140cm 미만)나, 정 반대로 너무 크게(200cm 초과) 기입한 사용자.
# BMI수치가 너무 낮거나(18.5 미만) 너무 높은 사용자. (30.0 초과)
# 목표 감량치(Weight Loss(goal))가 마이너스인 경우. (보통 현재 체중보다 목표 체중을 낮게 설정합니다)

In [106]:
dummy = {
    "Status": "completed",
    "Age(clean)": 27,
    "Height(clean)": 183,
    "Initial Weight" : 70,
    "Lowest Weight" : 50,
    "Target Weight" : 7,
    "BMI" : 25,
    "Weight Loss(goal)" : 3
}

find_invalid_user(dummy)

False

In [103]:
def find_invalid_user_pr(row) :
    if row["Height(clean)"] <= 140:
        return True
    elif row["Height(clean)"] >= 200:
        return True
    
    else :
        return False

In [105]:
dummy2 = {
    "Height(clean)" : 189
}

find_invalid_user_pr(dummy2)

False

In [109]:
weight_history['Invalid'] = weight_history.apply(find_invalid_user, axis = 1)

weight_history.head()

,Name,Age(clean),Height(clean),Initial Weight,Lowest Weight,Target Weight,Status,Weight Loss(goal),Weight Loss(current),Heigh(m)(clean),Height(m)(clean),BMI,Invalid
Access Code,,,,,,,,,,,,,
Y9RY2VSI,김승혜,25.0,172.0,66.9,65.8,55.000000,completed,11.900000,1.1,1.72,1.72,22.613575,False
3GTN3S3B,허승준,26.0,176.0,70.0,NaN,65.000000,completed,5.000000,NaN,1.76,1.76,22.598140,False
6B0IG276,이지민,23.0,171.0,98.0,NaN,91.140000,completed,6.860000,NaN,1.71,1.71,33.514586,False
EMGRU2MO,장설윤,20.0,160.0,70.7,NaN,53.000000,completed,17.700000,NaN,1.60,1.60,27.617187,False
1ELG96TX,서성빈,28.0,165.0,55.5,NaN,51.615002,completed,3.884998,NaN,1.65,1.65,20.385675,False

### 8. VIP 사용자 체크하기

In [214]:
def find_VIP(row):
    if row["Status"] == 'completed'\
    and pd.notnull(row["Weight Loss(goal)"])\
    and pd.notnull(row['Weight Loss(current)'])\
    and pd.notnull(row["BMI"])\
    and row["Weight Loss(current)"] > 10\
    and row
        return True
    
    return False

In [215]:


dummy_2 = {
    "Status" : "completed",
    "Weight Loss(goal)" : np.nan
    
}

In [216]:
find_VIP(dummy_2)

False

In [189]:
0 == np.nan

False

In [ ]:
#  눔의 프로그램을 결제한 구매자. (Status == "completed")
# 목표 감량치(Weight Loss(goal)), 최종 감량치(Weight Loss(current)), BMI 수치 모두 NaN이 아닌 값이 들어가 있는 사용자.
# 최종 감량치(Weight Loss(current))가 10kg 이상.
# BMI 수치가 높은 사용자. (30.0 이상)
# 최종 감량치(Weight Loss(current))가 목표 감량치(Weight Loss(goal))보다 큰 경우. (다이어트에 성공한 사람)