In [31]:
import pandas as pd

In [33]:
train = pd.read_csv('bike data/train.csv')
print(train.shape)

(10886, 12)

## Preprocessing

### datetime

In [34]:
train["datetime"]

0        2011-01-01 00:00:00
1        2011-01-01 01:00:00
2        2011-01-01 02:00:00
3        2011-01-01 03:00:00
4        2011-01-01 04:00:00
                ...
10881    2012-12-19 19:00:00
10882    2012-12-19 20:00:00
10883    2012-12-19 21:00:00
10884    2012-12-19 22:00:00
10885    2012-12-19 23:00:00
Name: datetime, Length: 10886, dtype: object

In [35]:
train["datetime"] = pd.to_datetime(train["datetime"])

In [36]:
train["datetime-year"] = train["datetime"].dt.year
train["datetime-month"] = train["datetime"].dt.month
train["datetime-day"] = train["datetime"].dt.day
train["datetime-hour"] = train["datetime"].dt.hour
train["datetime-minute"] = train["datetime"].dt.minute
train["datetime-second"] = train["datetime"].dt.second

print(train.shape)
train.head()

(10886, 18)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,datetime-year,datetime-month,datetime-day,datetime-hour,datetime-minute,datetime-second
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,1,0,0,0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,1,1,0,0
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,1,2,0,0
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,1,3,0,0
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,1,4,0,0

In [37]:
test = pd.read_csv("bike data/test.csv")
print(test.shape)
test.head()

(6493, 9)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

In [38]:
test["datetime"] = pd.to_datetime(test["datetime"])
test["datetime"]

0      2011-01-20 00:00:00
1      2011-01-20 01:00:00
2      2011-01-20 02:00:00
3      2011-01-20 03:00:00
4      2011-01-20 04:00:00
               ...
6488   2012-12-31 19:00:00
6489   2012-12-31 20:00:00
6490   2012-12-31 21:00:00
6491   2012-12-31 22:00:00
6492   2012-12-31 23:00:00
Name: datetime, Length: 6493, dtype: datetime64[ns]

In [39]:
test["datetime-year"] = test["datetime"].dt.year
test["datetime-month"] = test["datetime"].dt.month
test["datetime-day"] = test["datetime"].dt.day
test["datetime-hour"] = test["datetime"].dt.hour
test["datetime-minute"] = test["datetime"].dt.minute
test["datetime-second"] = test["datetime"].dt.second
print(test.shape)
test.head()

(6493, 15)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,datetime-year,datetime-month,datetime-day,datetime-hour,datetime-minute,datetime-second
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,2011,1,20,0,0,0
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000,2011,1,20,1,0,0
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000,2011,1,20,2,0,0
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014,2011,1,20,3,0,0
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014,2011,1,20,4,0,0

### weather

In [62]:
import numpy as np

In [ ]:
train['W_Spring']=\
train['weather'].reaplace('1','Spring')

cols = ['weather', 'W_Spring']

train[dols]

## BaseLine Script

In [40]:
feature_names = ["season", "holiday",'workingday',
                 'weather','temp','atemp','humidity',
                 'windspeed','datetime-year','datetime-month',
                 'datetime-day','datetime-day','datetime-hour',
                 'datetime-minute','datetime-second']
feature_names

['season',
 'holiday',
 'workingday',
 'weather',
 'temp',
 'atemp',
 'humidity',
 'windspeed',
 'datetime-year',
 'datetime-month',
 'datetime-day',
 'datetime-day',
 'datetime-hour',
 'datetime-minute',
 'datetime-second']

In [41]:
X_train = train[feature_names]
print(X_train.shape)
X_train.head()

(10886, 15)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,datetime-year,datetime-month,datetime-day,datetime-day,datetime-hour,datetime-minute,datetime-second
0,1,0,0,1,9.84,14.395,81,0.0,2011,1,1,1,0,0,0
1,1,0,0,1,9.02,13.635,80,0.0,2011,1,1,1,1,0,0
2,1,0,0,1,9.02,13.635,80,0.0,2011,1,1,1,2,0,0
3,1,0,0,1,9.84,14.395,75,0.0,2011,1,1,1,3,0,0
4,1,0,0,1,9.84,14.395,75,0.0,2011,1,1,1,4,0,0

In [42]:
X_test = test[feature_names]
print(X_test.shape)
X_test.head()

(6493, 15)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,datetime-year,datetime-month,datetime-day,datetime-day,datetime-hour,datetime-minute,datetime-second
0,1,0,1,1,10.66,11.365,56,26.0027,2011,1,20,20,0,0,0
1,1,0,1,1,10.66,13.635,56,0.0000,2011,1,20,20,1,0,0
2,1,0,1,1,10.66,13.635,56,0.0000,2011,1,20,20,2,0,0
3,1,0,1,1,10.66,12.880,56,11.0014,2011,1,20,20,3,0,0
4,1,0,1,1,10.66,12.880,56,11.0014,2011,1,20,20,4,0,0

In [43]:
label_name = "count"
y_train = train[label_name]
print(Y_train.shape)
y_train.head()

(1,)

0    16
1    40
2    32
3    13
4     1
Name: count, dtype: int64

## Decision Tree

In [44]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators = 10,
                              random_state = 37)
model

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=37, verbose=0,
                      warm_start=False)

In [45]:
train.isnull().sum()

datetime           0
season             0
holiday            0
workingday         0
weather            0
temp               0
atemp              0
humidity           0
windspeed          0
casual             0
registered         0
count              0
datetime-year      0
datetime-month     0
datetime-day       0
datetime-hour      0
datetime-minute    0
datetime-second    0
dtype: int64

## Evaluate Cross Validation _ 캐글없을 때

In [47]:
# 만들어진 구연체 사용 (sklearn)

from sklearn.model_selection import cross_val_predict
y_predict = cross_val_predict(model, X_train, y_train, cv = 20)


print(y_predict.shape)
y_predict

# 예측값임

(10886,)

array([ 34.2,  28.4,  22.6, ..., 220.5, 184.1, 134.1])

In [51]:
# count 랑 비교, 육안비교 불가능 -> >측정공식>

import numpy as np

In [57]:
from sklearn.metrics import mean_squared_log_error

score = mean_squared_log_error(y_train, y_predict)
score = np.sqrt(score)

score

0.4140751367728955

In [54]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_train, y_predict)

36.46645232408598

In [58]:
from sklearn.metrics import mean_squared_error

score = mean_squared_error(y_train, y_predict)
score = np.sqrt(score)

score

56.889234006110044

In [61]:
from sklearn.metrics import mean_squared_error

score = mean_squared_error(y_train, y_predict)
score = np.sqrt(score)

score


# 소숫점 정리
f"score = {score : .5f}"

# 변수를 바꿔가면서 내려야딤

'score =  56.88923'

## Model Fit

In [50]:
model.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=37, verbose=0,
                      warm_start=False)

In [20]:
prediction = model.predict(X_test)
print(prediction.shape)
prediction

(6493,)

array([16., 16., 16., ..., 16., 16., 16.])

## Submit

In [21]:
submit = pd.read_csv("bike data/sampleSubmission.csv")
submit["count"] = prediction
print(submit.shape)
submit.head()

(6493, 2)

              datetime  count
0  2011-01-20 00:00:00   16.0
1  2011-01-20 01:00:00   16.0
2  2011-01-20 02:00:00   16.0
3  2011-01-20 03:00:00   16.0
4  2011-01-20 04:00:00   16.0

In [23]:
submit.to_csv("bike data/Random Forest Regression-script.csv", index = False)

## 1/25 Exploratory data Analysis