### 이 칸을 셀(cell)이라고 합니다.

1 + 1

In [1]:
2 + 2

4

In [3]:
3+3

6

In [4]:
1-4

-3

In [7]:
5  !=  2

True

## 변수(variable)

In [14]:
# 주석
# 변수명
# 1. 문자  2. 숫자   3.  _
# 4. 소문자로 시작
a1 =  1


a

1

In [16]:
a = 1
b = 2

a + b

3

In [17]:
a

1

In [18]:
b

2

In [22]:
a  =  1

print(a)

a  =  a + 2

a

1

3

## 문자열(string)

In [31]:
# str = string = 문자열
# int = interger = 정수
# float = 실수

In [32]:
"Hello world!"

'Hello world!'

In [33]:
'hello world!'

'hello world!'

In [34]:
"H" == 'H'

True

In [35]:
1 == '1'

False

In [36]:
name = "Oliver"

name

'Oliver'

In [37]:
# iudex
name[0]

'O'

In [38]:
name[1]

'l'

In [39]:
name[4]

'e'

In [40]:
name[-1]

'r'

In [43]:
# Oliver
# slicing
name[2:4]

'iv'

In [44]:
name[:4]

'Oliv'

In [48]:
name[:]

'Oliver'

In [49]:
name.upper()

'OLIVER'

In [50]:
name.lower()

'oliver'

## 불(bool)

In [54]:
True == 1

True

In [55]:
False == 0

True

In [56]:
True == 'True'

False

In [58]:
False == 'false'

False

## 에러처리

In [60]:
True

True

In [61]:
1 + "1"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [63]:
1 + int("1")

2

In [64]:
str(1) + "1"

'11'

In [65]:
"12" + "34"

'1234'

## 리스트(list)

In [66]:
[1, True , "str"]

[1, True, 'str']

In [67]:
[1, True, [1, 2]]

[1, True, [1, 2]]

In [70]:
a = [1, 2, 3, 4, 5]

a

[1, 2, 3, 4, 5]

In [71]:
a[0]

1

In [72]:
a[-5]

1

In [73]:
a[1 :3]

[2, 3]

In [75]:
a[0:2]

[1, 2]

In [76]:
a[1:4]

[2, 3, 4]

In [108]:
a + a

[1, 2, 3, 4, 5, 100, 100, 100, 100, 1, 2, 3, 4, 5, 100, 100, 100, 100]

In [109]:
a * 2

[1, 2, 3, 4, 5, 100, 100, 100, 100, 1, 2, 3, 4, 5, 100, 100, 100, 100]

## 제어문

### 조건문(if문)

In [95]:
age = 5

if age < 10 :
   print("아이")
   print("아이")
else :
    print("어른")

아이
아이

In [99]:
# elif = else if

age = 15

if age < 10:
    print("아이")
elif age < 20:
    print ("청소년")
else:
    print("어른")

청소년

### 반복문(for문)

In [106]:
basket = ['apple' , "banana", 'cherry', "Oliver"]

basket

['apple', 'banana', 'cherry', 'Oliver']

In [132]:
for product in basket[:2]:
    print(product)

apple
banana

In [127]:
# range(10) = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9,  ]
for i in range(1, 11):
    if i == 3:
        break
        print('만세!')
    else:   
        print(i)
        
print(i)

1
2
3

In [128]:
# range(10) = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9,  ]
for i in range(1, 11):
    if i == 3:
        continue
        print('만세!')
    else:   
        print(i)
        
print(i)

1
2
4
5
6
7
8
9
10
10

# 판다스!

In [139]:
import pandas as pd
pd.read_csv("train.csv").head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C