In [1]:
import pandas as pd

## 데이터 불러오기

In [21]:
url = 'http://bit.ly/ds01-weight-history'

# DataFrame
data = pd.read_csv("Data/data.csv", index_col="회차")


print(data.shape)
# data.head()
data.tail()

(9, 6)

     이름         측정일   몸무게  단위   담당   지점
회차
5   강성희  2019-01-05  76.2  kg  김지수  강남구
6   강성희  2019-01-06  75.7  kg  최재우  여의도
7   강성희  2019-01-07   NaN  kg  최재우  여의도
8   강성희  2019-01-08   NaN  kg  김민철  여의도
9   강성희  2019-01-09  75.0  kg  김민철  여의도

## 행렬 검색하기

### 열(columns)검색

In [22]:
data.head(1)

     이름         측정일   몸무게  단위   담당  지점
회차
1   강성희  2019-01-01  76.4  kg  김지수  강남

In [23]:
data['몸무게']

회차
1    76.4
2    75.7
3    76.0
4     NaN
5    76.2
6    75.7
7     NaN
8     NaN
9    75.0
Name: 몸무게, dtype: float64

In [26]:
data['이름']

회차
1    강성희
2    강성희
3    강성희
4    강성희
5    강성희
6    강성희
7    강성희
8    강성희
9    강성희
Name: 이름, dtype: object

In [28]:
data['지점']

회차
1     강남
2     강남
3     강남
4    여의도
5    강남구
6    여의도
7    여의도
8    여의도
9    여의도
Name: 지점, dtype: object

In [39]:
# data[['이름', '몸무게']]

cols = ['이름', '몸무게']
data[cols]
data.head(2)

     이름         측정일   몸무게  단위   담당  지점
회차
1   강성희  2019-01-01  76.4  kg  김지수  강남
2   강성희  2019-01-02  75.7  kg  김지수  강남

### 행(rows) 검색

In [42]:
# loc = location
data.loc[1]

이름            강성희
측정일    2019-01-01
몸무게          76.4
단위             kg
담당            김지수
지점             강남
Name: 1, dtype: object

In [44]:
# data.loc[[1, 2]]
idx = [1, 2]
data.loc[idx]

     이름         측정일   몸무게  단위   담당  지점
회차
1   강성희  2019-01-01  76.4  kg  김지수  강남
2   강성희  2019-01-02  75.7  kg  김지수  강남

In [46]:
data.iloc[0]

#순서대로 가져올 때 iloc

이름            강성희
측정일    2019-01-01
몸무게          76.4
단위             kg
담당            김지수
지점             강남
Name: 1, dtype: object

In [48]:
# data.iloc[[0, 1]
data.iloc[0:5]

     이름         측정일   몸무게  단위   담당   지점
회차
1   강성희  2019-01-01  76.4  kg  김지수   강남
2   강성희  2019-01-02  75.7  kg  김지수   강남
3   강성희  2019-01-03  76.0  kg  김지수   강남
4   강성희  2019-01-04   NaN  kg  최재우  여의도
5   강성희  2019-01-05  76.2  kg  김지수  강남구

###  행렬 동시검색

In [97]:
# 동시검색은 무조건 Loc써야함

In [101]:
data.loc[1, '이름']

# 대괄호는 검색과 list 
# 두 개이상은 list
# 세개 이상 검색할 때는 loc

'강성희'

In [102]:
idx = [1, 2, 3]
cols = ['이름', '몸무게', '지점']

data.loc[idx, cols]

     이름   몸무게  지점
회차
1   강성희  76.4  강남
2   강성희  75.7  강남
3   강성희  76.0  강남

## 기본기능

In [50]:
 data['몸무게'].mean()

75.83333333333333

In [51]:
 data['몸무게'].min()

75.0

In [52]:
 data['몸무게'].max()

76.4

In [53]:
 data['몸무게'].std()

0.4926120853842992

In [55]:
data['지점']

회차
1     강남
2     강남
3     강남
4    여의도
5    강남구
6    여의도
7    여의도
8    여의도
9    여의도
Name: 지점, dtype: object

In [63]:
data['지점'].replace('강남구', '강남')
# 판다스는 원본을 바꾸지 않습니다 --> 잘못되면 ㅈ되거든요

data['지점']

회차
1     강남
2     강남
3     강남
4    여의도
5    강남구
6    여의도
7    여의도
8    여의도
9    여의도
Name: 지점, dtype: object

In [66]:
data['지점']=\
        data['지점'].replace('강남구', '강남')


# 데이터 덮어씌우기

In [67]:
data['지점']

회차
1     강남
2     강남
3     강남
4    여의도
5     강남
6    여의도
7    여의도
8    여의도
9    여의도
Name: 지점, dtype: object

In [71]:
data['몸무게']
# NaN = Not a number, null = 빈 값
# 판다스에서는 난 값!, 문자열 아님

data['몸무게'].fillna(77)

# fill.na = nan값 한 번에 채우기

회차
1    76.4
2    75.7
3    76.0
4    77.0
5    76.2
6    75.7
7    77.0
8    77.0
9    75.0
Name: 몸무게, dtype: float64

## 색인(indexing)

In [73]:
data['몸무게'] > 76

# true, flase 먼저 만들고

회차
1     True
2    False
3    False
4    False
5     True
6    False
7    False
8    False
9    False
Name: 몸무게, dtype: bool

In [75]:
data[data['몸무게'] > 76]

     이름         측정일   몸무게  단위   담당  지점
회차
1   강성희  2019-01-01  76.4  kg  김지수  강남
5   강성희  2019-01-05  76.2  kg  김지수  강남

In [78]:
# pratice

data['몸무게'] < 76

회차
1    False
2     True
3    False
4    False
5    False
6     True
7    False
8    False
9     True
Name: 몸무게, dtype: bool

In [79]:
data[data['몸무게'] < 76]

     이름         측정일   몸무게  단위   담당   지점
회차
2   강성희  2019-01-02  75.7  kg  김지수   강남
6   강성희  2019-01-06  75.7  kg  최재우  여의도
9   강성희  2019-01-09  75.0  kg  김민철  여의도

In [84]:
data[data['담당'] == '김지수']

     이름         측정일   몸무게  단위   담당  지점
회차
1   강성희  2019-01-01  76.4  kg  김지수  강남
2   강성희  2019-01-02  75.7  kg  김지수  강남
3   강성희  2019-01-03  76.0  kg  김지수  강남
5   강성희  2019-01-05  76.2  kg  김지수  강남

In [88]:
data[data['지점'] == '강남']

     이름         측정일   몸무게  단위   담당  지점
회차
1   강성희  2019-01-01  76.4  kg  김지수  강남
2   강성희  2019-01-02  75.7  kg  김지수  강남
3   강성희  2019-01-03  76.0  kg  김지수  강남
5   강성희  2019-01-05  76.2  kg  김지수  강남

In [90]:
(data['몸무게'] > 76) & (['담당'] == '김지수')


#순서를 만들 떄는 소괄호

회차
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: 몸무게, dtype: bool

In [93]:
data[(data['몸무게'] > 76) & (data['담당'] == '김지수')]

     이름         측정일   몸무게  단위   담당  지점
회차
1   강성희  2019-01-01  76.4  kg  김지수  강남
5   강성희  2019-01-05  76.2  kg  김지수  강남

In [105]:
# data[(data['몸무게'] > 76) & (data['담당'] == '김지수')]

over_weight = (data['몸무게'] > 76)
kim = (data['담당'] == '김지수')

data[over_weight&kim]

     이름         측정일   몸무게  단위   담당  지점
회차
1   강성희  2019-01-01  76.4  kg  김지수  강남
5   강성희  2019-01-05  76.2  kg  김지수  강남

In [106]:
#행렬동시검색 => loc

data.loc[over_weight&kim, '이름']

회차
1    강성희
5    강성희
Name: 이름, dtype: object

In [109]:
# data[(data['몸무게'] > 76) & (data['담당'] == '김지수')]

over_weight = (data['몸무게'] > 76)
kim = (data['담당'] == '김지수')

cols = ['이름', '몸무게']

data.loc[over_weight&kim, cols]

     이름   몸무게
회차
1   강성희  76.4
5   강성희  76.2

In [110]:
# data[(data['몸무게'] > 76) & (data['담당'] == '김지수')]

over_weight = (data['몸무게'] > 76)
kim = (data['담당'] == '김지수')

cols = ['이름', '몸무게']

data.loc[over_weight|kim, cols]

# | = or

     이름   몸무게
회차
1   강성희  76.4
2   강성희  75.7
3   강성희  76.0
5   강성희  76.2

In [113]:
# 비어있는 데이터 검색

data['몸무게'].isnull()


#indexing 하기 전에는 무조건 true, false로 데이터 확인한 후 문자데이터로 전환

회차
1    False
2    False
3    False
4     True
5    False
6    False
7     True
8     True
9    False
Name: 몸무게, dtype: bool

In [114]:
data[data['몸무게'].isnull()]

     이름         측정일  몸무게  단위   담당   지점
회차
4   강성희  2019-01-04  NaN  kg  최재우  여의도
7   강성희  2019-01-07  NaN  kg  최재우  여의도
8   강성희  2019-01-08  NaN  kg  김민철  여의도

In [115]:
cols = ['이름', '몸무게']

data.loc[data['몸무게'].isnull(), cols]

     이름  몸무게
회차
4   강성희  NaN
7   강성희  NaN
8   강성희  NaN

In [117]:
cols = ['이름', '몸무게']

data.loc[data['몸무게'].notnull(), cols]

# isnull = notnull
# 아니면 물결 (~) 넣어주기

     이름   몸무게
회차
1   강성희  76.4
2   강성희  75.7
3   강성희  76.0
5   강성희  76.2
6   강성희  75.7
9   강성희  75.0

In [118]:
cols = ['이름', '몸무게']

data.loc[~data['몸무게'].isnull(), cols]

     이름   몸무게
회차
1   강성희  76.4
2   강성희  75.7
3   강성희  76.0
5   강성희  76.2
6   강성희  75.7
9   강성희  75.0

In [119]:
# 기능 끌어오기 [.]

### 행열 추가 / 수정

In [124]:
data['날씨']

회차
1    좋음
2    좋음
3    좋음
4    좋음
5    좋음
6    좋음
7    좋음
8    좋음
9    좋음
Name: 날씨, dtype: object

In [127]:
data['결제여부'] = [True, False,True, True, True, True, True, True, True]

data

     이름         측정일   몸무게  단위   담당   지점  날씨   결제여부
회차
1   강성희  2019-01-01  76.4  kg  김지수   강남  좋음   True
2   강성희  2019-01-02  75.7  kg  김지수   강남  좋음  False
3   강성희  2019-01-03  76.0  kg  김지수   강남  좋음   True
4   강성희  2019-01-04   NaN  kg  최재우  여의도  좋음   True
5   강성희  2019-01-05  76.2  kg  김지수   강남  좋음   True
6   강성희  2019-01-06  75.7  kg  최재우  여의도  좋음   True
7   강성희  2019-01-07   NaN  kg  최재우  여의도  좋음   True
8   강성희  2019-01-08   NaN  kg  김민철  여의도  좋음   True
9   강성희  2019-01-09  75.0  kg  김민철  여의도  좋음   True

In [129]:
data['몸무게'] > 76
# 몸무게가 76이상이다 --> 과체중 "추가"

회차
1     True
2    False
3    False
4    False
5     True
6    False
7    False
8    False
9    False
Name: 몸무게, dtype: bool

In [130]:
data['과체중']  = data['몸무게'] > 76

cols = ['몸무게', '과체중']
data[cols]

     몸무게    과체중
회차
1   76.4   True
2   75.7  False
3   76.0  False
4    NaN  False
5   76.2   True
6   75.7  False
7    NaN  False
8    NaN  False
9   75.0  False

In [137]:
data.loc[data['몸무게'] > 76, '상태'] = '과체중'

cols = ['몸무게', '상태']
data[cols]

     몸무게   상태
회차
1   76.4  과체중
2   75.7  NaN
3   76.0  NaN
4    NaN  NaN
5   76.2  과체중
6   75.7  NaN
7    NaN  NaN
8    NaN  NaN
9   75.0  NaN

In [139]:
# NaN 값 채우기

data.loc[~(data['몸무게'] > 76), '상태'] = '정상체중'
# 물결치고 꼭 소괄호로 영역지정하기


cols = ['몸무게', '상태']
data[cols]

     몸무게    상태
회차
1   76.4   과체중
2   75.7  정상체중
3   76.0  정상체중
4    NaN  정상체중
5   76.2   과체중
6   75.7  정상체중
7    NaN  정상체중
8    NaN  정상체중
9   75.0  정상체중