In [1]:
import pandas as pd

* BIke 데이터는 모두다 숫자로 되어 있어 preprocessing이 필요 없음
* 데이터 수가 많기 때문에 모수 괜찮음
* feature = (datetime~ windspeed 9개) Label = count
* Casual + registered = Count. 하지만 train만 있고 test는 없음 따라서 casual & registered 는 features로서 못씀
* 하지만 두 열은 count와 밀접하기 때문에 쓰면 결과값이 좋아짐

## Load Dataset

In [5]:
train=pd.read_csv("bike/train.csv")
print(train.shape)
train.head()

(10886, 12)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [9]:
test = pd.read_csv("bike/test.csv")
print(test.shape)
test.head()

(6493, 9)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

## Baseline script
* 가장 쉬운 단계

### Train

In [16]:
# Datetime은 숫자로 하지 않았으니 제외 후 8가지 열 사용.
# Test 데이터에는 casual과 registered가 없으니 windspeed까지만 사용
feature_names = ["season", "holiday",'workingday','weather','temp','atemp','humidity','windspeed']
feature_names

['season',
 'holiday',
 'workingday',
 'weather',
 'temp',
 'atemp',
 'humidity',
 'windspeed']

In [17]:
X_train = train[feature_names]
print(X_train.shape)
X_train.head()

(10886, 8)

   season  holiday  workingday  weather  temp   atemp  humidity  windspeed
0       1        0           0        1  9.84  14.395        81        0.0
1       1        0           0        1  9.02  13.635        80        0.0
2       1        0           0        1  9.02  13.635        80        0.0
3       1        0           0        1  9.84  14.395        75        0.0
4       1        0           0        1  9.84  14.395        75        0.0

In [18]:
X_test = test[feature_names]
print(X_test.shape)
X_test.head()

(6493, 8)

   season  holiday  workingday  weather   temp   atemp  humidity  windspeed
0       1        0           1        1  10.66  11.365        56    26.0027
1       1        0           1        1  10.66  13.635        56     0.0000
2       1        0           1        1  10.66  13.635        56     0.0000
3       1        0           1        1  10.66  12.880        56    11.0014
4       1        0           1        1  10.66  12.880        56    11.0014

In [24]:
label_name = "count"
Y_train = train[label_name]
print(Y_train.shape)
Y_train.head()

(10886,)

0    16
1    40
2    32
3    13
4     1
Name: count, dtype: int64

## Use Decision Tree

In [25]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [28]:
# 열별 빈값 총 개수
train.isnull().sum()

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64

In [29]:
model.fit(X_train, Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [32]:
prediction = model.predict(X_test)
print(prediction.shape)
prediction

(6493,)

array([243,  63,  63, ...,  71,   2,   3], dtype=int64)

## Submit

In [33]:
pd.read_csv("bike/sampleSubmission.csv")

                 datetime  count
0     2011-01-20 00:00:00      0
1     2011-01-20 01:00:00      0
2     2011-01-20 02:00:00      0
3     2011-01-20 03:00:00      0
4     2011-01-20 04:00:00      0
...                   ...    ...
6488  2012-12-31 19:00:00      0
6489  2012-12-31 20:00:00      0
6490  2012-12-31 21:00:00      0
6491  2012-12-31 22:00:00      0
6492  2012-12-31 23:00:00      0

[6493 rows x 2 columns]

In [34]:
submit = pd.read_csv("bike/sampleSubmission.csv")
submit["count"] = prediction
print(submit.shape)
submit.head()

(6493, 2)

              datetime  count
0  2011-01-20 00:00:00    243
1  2011-01-20 01:00:00     63
2  2011-01-20 02:00:00     63
3  2011-01-20 03:00:00    106
4  2011-01-20 04:00:00    106

In [39]:
submit.to_csv("bike/Baseline-script.csv", index = False)

* 제출 - Kaggle : Bike sharing demand