In [1]:
import pandas as pd

In [ ]:
pd.

## 데이터 불러오기

In [75]:
# url = 'http://bit.ly/ds01-weight-history'

# DataFrame
data = pd.read_csv("../test1/data.csv", index_col="회차")

print(data.shape)
# data.head()
data.tail()

(9, 6)

     이름         측정일   몸무게  단위   담당   지점
회차
5   강성희  2019-01-05  76.2  kg  김지수  강남구
6   강성희  2019-01-06  75.7  kg  최재우  여의도
7   강성희  2019-01-07   NaN  kg  최재우  여의도
8   강성희  2019-01-08   NaN  kg  김민철  여의도
9   강성희  2019-01-09  75.0  kg  김민철  여의도

## 행열 검색하기

### 열(columns) 검색

In [16]:
data.head(1)

     이름         측정일   몸무게  단위   담당  지점
회차
1   강성희  2019-01-01  76.4  kg  김지수  강남

In [ ]:
data['몸무게']

In [ ]:
data['이름']

In [ ]:
data['지점']

In [ ]:
# data[['이름', '몸무게']]

cols = ['이름', '몸무게']
data[cols]

### 행(rows) 검색

In [25]:
# loc = locate
data.loc[1]

이름            강성희
측정일    2019-01-01
몸무게          76.4
단위             kg
담당            김지수
지점             강남
Name: 1, dtype: object

In [ ]:
# data.loc[[1, 2]]
idx = [1, 2]
data.loc[idx]

In [ ]:
# data.iloc[[0, 1]]
data.iloc[0:5]

### 행열 동시검색

In [61]:
data.loc[1, '이름']

'강성희'

In [62]:
idx = [1, 2, 3]
cols = ['이름', '몸무게', '지점']

data.loc[idx, cols]

     이름   몸무게  지점
회차
1   강성희  76.4  강남
2   강성희  75.7  강남
3   강성희  76.0  강남

## 기본 기능

In [ ]:
data['몸무게'].mean()

In [ ]:
data['몸무게'].min()

In [ ]:
data['몸무게'].max()

In [35]:
data['몸무게'].std()

0.4926120853842992

In [ ]:
data['지점'] = \
        data['지점'].replace("강남구", "강남")

data['지점']

In [ ]:
# NaN = Not a Number = null = 빈 값
data['몸무게'].fillna(77)

## 색인(indexing)

In [ ]:
data[data['몸무게'] > 76]

In [ ]:
data[data['몸무게'] <= 76]

In [ ]:
data[data['담당'] == '김지수']

In [ ]:
data[data['지점'] == '강남']

In [ ]:
# data[(data['몸무게'] > 76)&(data['담당'] == '김지수')]

over_weight = (data['몸무게'] > 76)
kim = (data['담당'] == '김지수')

cols = ['이름', '몸무게']

data.loc[over_weight|kim, cols]

In [ ]:
cols = ['이름', '몸무게']

data.loc[~data['몸무게'].isnull(), cols]

## 행열 추가/수정

In [ ]:
data['날씨'] = '나쁨'

data

In [ ]:
data['결제여부'] = [True, False, True, True, True, True, True, True, True]

data

In [ ]:
data['과체중'] = data['몸무게'] > 76

cols = ['몸무게', '과체중']
data[cols]

In [ ]:
data.loc[data['몸무게'] > 76, '상태'] = '과체중'
data.loc[~(data['몸무게'] > 76), '상태'] = '정상체중'

cols = ['몸무게', '상태']
data[cols]